<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.sabir.training.rcp.treeviewer.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.sabir.training.rcp.treeviewer.Perspective"
            name="Perspective"
            id="com.sabir.training.rcp.treeviewer.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.sabir.training.rcp.treeviewer.View"
            name="View"
            id="com.sabir.training.rcp.treeviewer.view"
            inject="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="com.sabir.training.rcp.treeviewer.view"
               minimized="false"
               relationship="left"
               standalone="true"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.sabir.training.rcp.treeviewer.handlers.ShowSelectionHandler"
            id="com.sabir.training.rcp.treeviewer.showSelectionCommand"
            name="Show Selection">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.sabir.training.rcp.treeviewer.handlers.ShowSelectionHandler"
            commandId="com.sabir.training.rcp.treeviewer.showSelectionHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <menu
                  label="Child Menu">
               <command
                     commandId="com.sabir.training.rcp.treeviewer.anotherShowSelection"
                     label="Another Show"
                     style="push">
               </command>
            </menu>
            <command
                  commandId="com.sabir.training.rcp.treeviewer.showSelectionCommand"
                  icon="icons/eclipse16.png"
                  label="Show Selection"
                  style="push"
                  tooltip="Shows the selection">
            </command>
            <separator
                  name="com.sabir.training.rcp.treeviewer.separator"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <command
               commandId="com.sabir.training.rcp.treeviewer.showSelectionCommand"
               icon="icons/eclipse16.png"
               label="Show Selection"
               mnemonic="S"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.sabir.training.rcp.treeviewer.view">
         <command
               commandId="com.sabir.training.rcp.treeviewer.showSelectionCommand"
               label="show selected"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="twoSelected">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.core.expressions.definitions">
<definition id="twoSelected">
   <with
         variable="activeMenuSelection">
      <count
            value="2">
      </count>
   </with>
      </definition>
</extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.sabir.training.rcp.treeviewer.handlers.ShowSelectionHandler"
            id="com.sabir.training.rcp.treeviewer.anotherShowSelection"
            name="Another Show">
      </command>
   </extension>

</plugin>
